.purpleButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  font-size:15px;
  margin-top:6px;
	font-weight:bold;
	padding:12px 52px;
	text-decoration:none;
  text-shadow:0px 1px 0px #9752cc;
  margin-right:8px;
}
.purpleButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.purpleButton:active {
	position:relative;
	top:1px;
}
.blueButton {
  margin-top:6px;
  margin-right:300px;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.blueButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.blueButton:active {
	position:relative;
	top:1px;
}

        
        .dene{
          float:left;
        }
        .dene2{
          float:top;
        }
        .Logo {
          margin-left:8px;
          width:65px;
          height:58px;
        
		}
		.navibox{
			width:840px;
			height:80px;
		 color:black;
		
			background-color: #fff;
			background-clip: border-box;
			border: 1px solid rgba(0,0,0,.125);
			border-radius: .25rem;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
			box-sizing: border-box;
		}
		.navibutton{
			margin-top:37px;
			width:80%;
			height:50px;
			font-weight:900;
			border:1px solid #a6c;
		}
		
		
	