
    body {
        background-image: url("../image/dene.jpg");
        background-color:#9a32cd  !important ;
    
      }

.form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.a{
    width:50%;
    height:100%;
    padding:25px;
    margin:auto;
   
    margin-bottom:50px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
}
.a2{
  width:50%;
  height:50%;
  padding:25px;
  margin:auto;
  margin-top:50px;
 
  background-color: #a6c;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 2px;
}
.b{
  width:25%;
  height:100%;
  padding:25px;
  margin:0px auto auto auto;
 
  margin-bottom:50px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 2px;
}
.b2{
  width:25%;
  height:100%;
  padding:25px;
  margin:auto auto 0px auto;
  margin-top:50px;
  
  background-color: #a6c ;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 2px;
}
.dairesel{

    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
  }
  
  .dairesel img {
  
    display: block;
    min-width: 100%;
    min-height: 100%;
    cursor:pointer;
  }


  .dairesel .btn {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  .bosluk{margin-right:50px;}
  .daireseluser{

    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 180px;
    margin:auto;
    margin-top:15px;
  }
  
  .daireseluser img {
  
    display: block;
    min-width: 100%;
    min-height: 100%;
  }
.ortala{
  text-align: center;
  font-weight:bold;
  
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200% !important;
margin-top:70px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  margin-left:-150px;
}
.profilimg{ width: "125px";
   height: "125px",
   }
   .profilimg:hover{ cursor:pointer,
    }